@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-content {
  animation: scroll 45s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}

.marquee-container {
  position: relative;
  z-index: 10;
}
